<html>
  <head>
    <title>login page</title>
    <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="/static/css/loginstyle.css">
      <a class="MyLogo"><img src="/static/images/NexLogo.png" width="150" height="100"/><span class="MyLogoText"></span></a>
  </head>
  <body>
     
 <div align="center">
          <div align="center" class="border">
              
              <h2 class="content">Welcome to NexLab<sup>+</sup></h2>
              
              <div class="vl"></div>
               
             <div class="header">
                 
                <h1 class="container">Login</h1>
             </div>
            
    <div class="container2">
      
      <form action="" method="post">
       <div class="container1">
          <br>
        <input type="text" placeholder="Username" name="username" class ="textbox" value="{{
          request.form.username }}">
          <br>
          
          <br>
         <input type="password" placeholder="Password" name="password" class ="textbox" value="{{
          request.form.password }}">
          <br>
          <br>
           
          <button class="btn" type="submit">Login</button>
           <br>
           <br>

          </div> 
      </form>
      {% if error %}
        <p class="error">{{ error }}
      {% endif %}
            <br>
            <br>
           
                 
            <p class="bottom">Don't have an account?  <a class="bottom" href="/home"> Click here</a></p>
               
              </div>  
         </div>
     
        </div>
     
  </body>
</html>